Body{background-color: rgb(198, 207, 184);}
border{border-color: rgb(224, 32, 32);}
h1{color: rgb(12, 12, 12);}
h2{color: rgb(12, 12, 12);}
h3{color: rgb(12, 12, 12);}
h4{color: rgb(12, 12, 12);}
h5{color: rgb(12, 12, 12);}